@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Droid Arabic Kufi', serif;
  background: url('../src/assets/bg_sign.jpg')no-repeat right/cover;
  height: 100vh;
  
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

